<%= form_for(@getoff_info) do |f| %>
  <% if @getoff_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@getoff_info.errors.count, "error") %> prohibited this getoff_info from being saved:</h2>

      <ul>
      <% @getoff_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br />
    <%= f.text_field :station_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :hint %><br />
    <%= f.text_field :hint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
